* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcf9fa;
  font-family: Nunito;
}

#informations {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
  padding: 48px;
  align-items: start;
}

#menu,
.me,
.title {
  grid-column: 1;
}

#menu {
  background-color: #fcfcfc;
  padding: 5px 10px;
  border-radius: 50px;
  width: fit-content;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  border: 1px solid #f8a5c2;
}

#menu ul {
  display: flex;
  list-style: none;
  gap: 5px;
  align-items: center;
  margin: 0;
  padding: 10px;
}

#menu ul li a {
  text-decoration: none;
  color: #666;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 50px;
  display: block;
  transition: 0.3s;
}

#menu ul li a:hover {
  color: #333;
  background-color: #f0f0f0;

  transform: translateY(-3px);
}

#menu ul li a.active {
  background-color: #f8a5c2;
  color: white;
  font-weight: bold;
}

.me,
.title,
.get_in_touch,
nav {
  background-color: #fcfcfc;
  border-radius: 30px;
  padding: 20px;
}

.me {
  position: relative;
  padding: 20px;
  border-radius: 30px;
  width: fit-content;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  border: 3px solid #f8a5c2;
}

.me img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}

.status {
  position: absolute;
  bottom: -15px;
  left: 50%;

  background-color: white;
  padding: 5px 15px;
  border-radius: 50px;
  border: 1px solid #f8a5c2;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.status p {
  font-size: 0.9rem;
  font-weight: bold;
  color: #666;
  margin: 0;
}

.title {
  text-align: left;
  padding: 30px;

  background-color: white;
  border: 1px solid #f8a5c2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title h1 {
  color: #4b4b4b;
  font-size: 3.5rem;
  line-height: 0.9;
  font-weight: 800;
  margin-bottom: 15px;
}

.title h1 span {
  color: #f8a5c2;
}

.title p {
  color: #888;
  font-size: 1.1rem;
  max-width: 80%;
}

.title nav ul {
  display: flex;
  gap: 15px;
  list-style: none;
  margin-top: 5px;
  padding: 0;
}

.title nav ul a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-color: #fff0f5;
  color: #333;
  text-decoration: none;
  font-size: 1.5rem;

  transition: 0.3s;
}

.title nav ul a:hover {
  background-color: #f8a5c2;
  color: white;
  transform: translateY(-3px);
}

.icons {
  padding: 5.9px;
}

.get_in_touch {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  grid-column: 2;
  grid-row: 1 / span 3;
}

.get_in_touch .mailbox,
.get_in_touch .email,
.get_in_touch .location {
  display: flex;
  align-items: center;
  gap: 15px;
}

.ph-mailbox,
.icon-box {
  background-color: #fff0f5;
  width: 40px;
  height: 40px;

  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 1.2rem;
}
